* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #eee;
    height: 100%;
}
.content {
  /* display: flex; */
}
.menu {
  overflow: initial;
}
::-webkit-scrollbar {
  /* width: 0px */
}
.content-right {
  overflow: auto;
}
.content-right::-webkit-scrollbar {
  width: 10px
}
.menu::-webkit-scrollbar {
  width: 0px
}
.el-menu-item, .el-submenu__title {
  height: 44px;
  line-height: 44px;
}
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.vheader {
    border-bottom: 2px solid #ccc;
    margin: 0;
    padding: 6px 0 10px 0;
}

.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}

.vsearch{
  padding: 6px 0 0 5px;
}

.el-loading-mask {
    transition: none;
    background-color: rgba(255, 255, 255, .3);
}

.el-loading-mask.is-fullscreen .el-loading-spinner {
    text-align: right;
    bottom: 0;
    top: auto;
}

.el-tabs {
    height: 100%;
    padding-bottom: 42px;
    margin-top: 3px;
}

.el-tabs__header {
    margin: 0;
}

.el-tabs__content {
    height: 100%;
    overflow: auto;
}

.el-table__footer-wrapper tbody td{
    background-color: #eef1f6;
    font-weight: 600;
}

.el-input__inner{
    border: 1px solid #8391a5;
}
.el-tabs__item{
    color: #334d72;
}

.el-form-item__content{
    height: 36px;
}
.el-table th>.cell {
  text-align: left;
}
.select-width .el-form-item__content{
  width: 100px;
}
.pl-15 {
  padding: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
